<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.900568024097-fpr7jr6l41lpk89bk68skt054489jrr5</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>900568024097-fpr7jr6l41lpk89bk68skt054489jrr5.apps.googleusercontent.com</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
        <key>NSAppTransportSecurity</key>
        <dict>
                <key>NSAllowsArbitraryLoadsInLocalNetwork</key>
                <true/>
        </dict>
        <key>NSLocalNetworkUsageDescription</key>
        <string>Allow access to your local network to upload imported files.</string>
</dict>
</plist>
